body {
	padding-bottom: 80px;
}

.headline-logo {
	width: 100%;
	text-align: center;

	img {
		max-width: 150px;
	}

	&.hornhuset {

		img {
			max-width: 100px;
		}
	}

	&.solidaritet {

		img {
			max-width: 300px;
		}
	}
}

.cta-btn {
	background: #333;
	color: #fff;
	padding: 12px 20px 10px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 3px;
	letter-spacing: 1px;

	> i {
		font-size: 20px;
		margin-right: 3px;
	}

	&.instagram {
		background: #125688 !important;
	}

	&.facebook {
		background: #48649F !important;
	}
}

.hornhuset {

	.cta-btn {
		background: #00A89C;
	}
}

.rigoletto {

	.cta-btn {
		background: #B47B1C;
	}
}

.solidaritet {

	.cta-btn {
		background: #824570;
	}
}

#preFooter {
    display: none !important;
}

.fixed-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgba(15, 16, 17, 0.93);
	height: 70px;
	padding: 15px 0;
	box-sizing: border-box;
	left: 0;
	z-index: 999;
}

.footer-logos {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;


    a {
        margin: 0 20px;
        align-items: center;
        display: flex;
        opacity: 0.7;
        transition: .2s ease-out;

        &:hover {
        	opacity: 1;
        }
    }

}
