body {
  padding-bottom: 80px; }

.headline-logo {
  width: 100%;
  text-align: center; }
  .headline-logo img {
    max-width: 150px; }
  .headline-logo.hornhuset img {
    max-width: 100px; }
  .headline-logo.solidaritet img {
    max-width: 300px; }

.cta-btn {
  background: #333;
  color: #fff !important;
  padding: 12px 20px 10px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  letter-spacing: 1px;
  display: inline-block; }
  .cta-btn > i {
    margin-right: 3px; }
  .cta-btn.instagram {
    background: #125688 !important; }
  .cta-btn.facebook {
    background: #48649F !important; }
  .cta-btn:focus {
    color: #fff; }

.hornhuset .cta-btn {
  background: #00A89C; }

.rigoletto .cta-btn {
  background: #B47B1C; }

.solidaritet .cta-btn {
  background: #824570; }

.share {
  text-align: center; }
  .share > a {
    margin: 0 5px; }

#preFooter {
  display: none !important; }

.fixed-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(15, 16, 17, 0.93);
  height: 70px;
  padding: 15px 0;
  box-sizing: border-box;
  left: 0;
  z-index: 999; }

.footer-logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .footer-logos a {
    margin: 0 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.7;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out; }
    .footer-logos a:hover {
      opacity: 1; }

.horizontalrule-block {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
