#info-section .sqs-block-content p a {
  background: #b056f5;
  font-family: "Oswald";
  text-transform: none;
  letter-spacing: .5px;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  padding: 0.8em 2.5em;
  border-width: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: .1s;
  transition: .1s;
  margin-top: 10px; }
  #info-section .sqs-block-content p a:hover {
    opacity: .8; }
